.imageDisplay{
    width: 100vw;
    margin-top: 18.5%;
}
@media (min-width:1224px) {
    .imageDisplay{
        height: 100vh;
        margin-top: -1%;
    }   
}
@media (max-width:600px) {
    .imageDisplay{
        height: 44vh;
        margin-top: 16.5%;
    }   
}