.nav-logo{
    margin-left: 3vw;
    height: 7vh;
}
.nav-name{
    margin-top: -2%;
    font-family: 'BebasNeue';
    letter-spacing: 0.2rem;
        font-weight: 100;
    font-size: 1.8rem;
    padding-left: 5%;
    color: white;
}
.nav-subname{
    position: absolute;
    top: 5.2vh;
    left: 32vw;
    font-size: 1.2rem;
    font-family: 'BebasNeue';
    letter-spacing: 0.3rem;
    font-weight: 100;
    color: white;
}
@media (min-width:1224px) {
    .nav-logo{
        margin-left: 2vw;
        height: 10vh;
    }
    .nav-name{
        font-family: 'BebasNeue';
        font-size: 2.5rem;
        padding-left: 2%;
        letter-spacing: 0.1rem;
        font-weight: 100;
        padding-top: 2.5%;
        color: white;
    }
    .nav-button{
        position: absolute;
        border-radius: 6px;
        padding: 7px 12px;
        font-size: 1.5rem;
        color: white;
        background-color: #14ca14;
        font-weight: 500;
        right: 5%;
        border: 1px solid black;
    }
}